.card {
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  padding-top: 32px;
  width: 200px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid rgba(243, 243, 243, 1);
  border-radius: 5px;
  overflow: hidden;

  &__media {
    background-image: url(../images/imac.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 134px;
    width: 160px;
    margin-inline: 3px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    margin: 0;
    margin-top: 40px;
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    color: #616070;
    padding-top: 4px;
    margin: 0;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    margin: 0;
    margin-top: auto;
  }

  &__price {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-label {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0%;
      color: #616070;
      align-self: center;
    }

    &-value {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0%;
      align-self: center;
    }
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 166px;
    align-self: center;
    height: 40px;
    border-radius: 5px;
    border-color: #00acdc;
    border-style: solid;
    border-width: 1px;
    background-color: #00acdc;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: #00acdc;
      border-color: #00acdc;
      border-style: solid;
      border-width: 1px;
      background-color: transparent;
    }
  }
}
