$main-font-family: Roboto, sans-serif;
$main-font-weight: 400;
$main-color: #060b35;
$second-color: #616070;
$buy-button-color: #00acdc;
$white: #fff;
$border-color: rgba(243, 243, 243, 1);
$card-width: 200px;
$card-padding-sides: 16px;
